{% extends "partials/layout.html" %} {% set pagetitle = "Home" %} {% block
pagetitle %} {{ pagetitle }} {% endblock %} {% block content %}
<section id="maincontent" class="hero-slider-section" aria-label="Carousel">
    <button class="hero-slider-btn hero-slider-btn-prev">
        <svg aria-hidden="true" focusable="false">
            <use xlink:href="#icon-chevron-left"></use>
        </svg>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="hero-slider-btn hero-slider-btn-next">
        <svg aria-hidden="true" focusable="false">
            <use xlink:href="#icon-chevron-right"></use>
        </svg>
        <span class="visually-hidden">Next</span>
    </button>
    <div class="hero-slider">
        {% for i in range(0, 4) %}
            <div class="slide">
                <img src="//placehold.it/1920x500?text={{i}}" alt="">
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}