{% extends "partials/layout.html" %}

{% block pagetitle %} Homepage {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <button data-expander="my-info" type="button" data-expander-css>Open info (CSS)</button>
                <div id="my-info">
                    <input type="text" placeholder="focus me on open">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempora nihil asperiores sequi similique, voluptatum in facilis modi cumque suscipit dolores vero non ipsa expedita et nisi, officiis dolor blanditiis.</p>
                </div>
            </div>
            <div>
                <button data-expander="my-info2" type="button">Open info (JS)</button>
                <div id="my-info2">
                    <input type="text" placeholder="focus me on open">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempora nihil asperiores sequi similique, voluptatum in facilis modi cumque suscipit dolores vero non ipsa expedita et nisi, officiis dolor blanditiis.</p>
                </div>
            </div>
            <section id="maincontent" class="hero" aria-label="Carousel">
                <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true, "fade": true}'>
                    <div class="slide-item" style="background-image:url(../images/placeholders/hero-image.jpg);">
                        <div class="slide-text">Slide Text Goes Here</div>
                    </div>
                    <div class="slide-item">
                        <div class="slide-text">
                            <h3 class="title">Slide Title Goes Here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nostrum nam quas ex odit laudantium nisi similique? Eligendi ullam repellendus sed perspiciatis beatae exercitationem quae, assumenda sequi, doloremque omnis animi.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}