{% extends "partials/layout.html" %}

{% set pagetitle = "One Column Template" %}
{% block pagetitle %} {{ pagetitle }} {% endblock %}

{% block content %}
<div class="page-header" style="background-image: url('//placehold.it/1920x275');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-inner">
                    <h1 class="page-header-big">{{ pagetitle }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}