$hamb-line-width: 30px;
$hamb-line-height: 3px;
$hamb-line-spacing: 10px;
$hamb-border-radius: 3px;
$hamb-background: transparent;
$hamb-lines-color: $color-primary;
$hamb-lines-color-hover: $color-secondary;

.hamburger-menu {
    font-size: 0;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, -webkit-filter;
    background-color: $hamb-background;
    flex: 0 0 auto;

    &:hover,
    &:focus,
    &.active {
        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background: $hamb-lines-color-hover;
        }
    }
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: $hamb-line-width;
    height: ($hamb-line-spacing * 3);
    transition: all 0.2s ease-in-out;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: $hamb-line-width;
    height: $hamb-line-height;
    border-radius: $hamb-border-radius;
    background: $hamb-lines-color;
    transition-property: transform;
}

.hamburger-inner {
    top: 50%;
    left: 0;
    display: block;
    margin-top: -2px;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: 75ms;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner:before {
    top: -$hamb-line-spacing;
    transition: top 75ms ease .12s, opacity 75ms ease;
}

.hamburger-inner:after {
    bottom: -$hamb-line-spacing;
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
}

.hamburger-menu.active {
    .hamburger-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: rotate(45deg);

        &::before {
            top: 0;
            transition: top 75ms ease, opacity 75ms ease .12s;
            opacity: 0;
        }

        &::after {
            bottom: 0;
            transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
            transform: rotate(-90deg);
        }
    }
}

@media (min-width: $bp-mw) {
    .hamburger-menu {
        display: none;
    }
}