.page-banner {
    line-height: 1.2;
    color: $color-invert;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 0 15px;

    [class*="col"] {
        display: flex; // Adding flex to parent to fix IE min-height bug
    }
}

.page-banner-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    flex: 1 0 auto;
    width: 100%; // IE Fix to wrap text
}

.page-banner-heading {
    position: relative;
    @include x-rem(font-size, 28px);
    font-weight: bold;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    margin: 0;
}

@media (min-width: $bp-mw) {
    .page-banner-inner {
        min-height: 275px;
    }

    .page-banner-heading {
        @include x-rem(font-size, 60px);
        padding: 10px 20px;
    }
}