/* ================================================================
   Button Styles
   ================================================================ */

.button,
.btn {
	display:inline-block;
	padding:0.47em 1.2em;
	border:0;
	font-family:$font-primary; font-weight:$fontWeight-bold; color:$color-invert;
	text-decoration:none; text-align:center;
	background:$color-primary;
	cursor: pointer;
	transition: $trans;

	&:hover, &:focus {
		text-decoration:none;
		background:$color-secondary;
	}
}

.back {
	@extend .button-small !optional;
	text-transform: capitalize;

	&:before {
		@extend .iconfont-chevron-left !optional;
	}
}

.more {
	@extend .button-small !optional;
	text-transform:capitalize;

	&:after {
		@extend .iconfont-chevron-right !optional;
	}
}